@using WowsKarma.Common.Models.DTOs.Replays


<table class="table table-hover table-bordered bg-dark">
	<thead>
		<tr>
			@for (byte i = 1; i < Teams.Count() + 1; i++)
		   {
			   <th class="p-3 lead">Team @i</th>
		   }
		</tr>
	</thead>

	<tbody>
		@for (byte i = 0; i < Teams.Max(t => t.Count()); i++)
	   {
		<tr>
			@for (byte j = 0; j < Teams.Count(); j++)
			{
				ReplayPlayerDTO player = Teams[j][i];
				bool isAuthor = PostAuthorId == player.AccountId;
				bool isPlayer = PostPlayerId == player.AccountId;
				
				<td class="px-3 py-3">
					<NavLink href="@($"/player/{player.AccountId},{player.Name}")">@player.Name</NavLink>

					@if (isAuthor)
					{
						<span class="text-muted small fst-italic ms-4">(Author)</span>
					}
					else if (isPlayer)
					{
						<span class="text-muted small fst-italic ms-4">(Player)</span>
					}
				</td>
			}
		</tr>
	   }
	</tbody>
</table>


@code {
	[Parameter] public IEnumerable<ReplayPlayerDTO> Players { get; set; }

	[Parameter] public uint PostAuthorId { get; set; }
	[Parameter] public uint PostPlayerId { get; set; }

	public ReplayPlayerDTO[][] Teams { get; private set; }


	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		Teams = (from p in Players
				 group p by p.TeamId into team
				 select team.ToArray()).ToArray();
	}
}
