@using WowsKarma.Common.Models.DTOs.Replays

@if (ShowPlayersRelation)
{
    <div class="my-3">
        @if (playersMetInSameTeam)
        {
            <h5 class="text-success">Players have met in the same team.</h5>
        }
        else if (playersMetInBattle)
        {
            <h5 class="text-info">Players have met across different teams.</h5>
        }
        else
        {
            <h5 class="text-danger">Players have not met in battle.</h5>
        }
    </div>
}


<table class="table table-hover table-bordered bg-dark">
    <thead>
        <tr>
            @for (byte i = 1; i < Teams.Count() + 1; i++)
            {
                <th class="p-3 lead">Team @i</th>
            }
        </tr>
    </thead>

    <tbody>
        @for (byte i = 0; i < Teams.Max(t => t.Count()); i++)
        {
            <tr>
                @for (byte j = 0; j < Teams.Count(); j++)
                {
                    try
                    {
                        ReplayPlayerDTO player = Teams[j][i];
                        bool isAuthor = PostAuthorId == player.AccountId;
                        bool isPlayer = PostPlayerId == player.AccountId;

                        <td class="p-3">
                            @if (player.ClanId is not 0)
                            {
                                <span class="me-2 text-white-50">[@player.ClanTag]</span>
                            }

                            <NavLink href="@($"/player/{player.AccountId},{player.Name}")">@player.Name</NavLink>

                            @if (isAuthor)
                            {
                                <span class="text-muted small fst-italic ms-4">(Author)</span>
                            }
                            else if (isPlayer)
                            {
                                <span class="text-muted small fst-italic ms-4">(Player)</span>
                            }
                        </td>
                    }
                    catch (IndexOutOfRangeException)
                    {
                        <td class="p-3">
                            
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter] public IEnumerable<ReplayPlayerDTO> Players { get; set; }

    [Parameter] public uint PostAuthorId { get; set; }
    [Parameter] public uint PostPlayerId { get; set; }

    [Parameter] public bool ShowPlayersRelation { get; set; }

    public ReplayPlayerDTO[][] Teams { get; private set; }

    private bool playersMetInBattle;
    private bool playersMetInSameTeam;


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        Teams = (from p in Players
                 group p by p.TeamId into team
                 select team.ToArray()).ToArray();

        ReplayPlayerDTO postAuthor = Players.FirstOrDefault(p => p.AccountId == PostAuthorId);
        ReplayPlayerDTO postPlayer = Players.FirstOrDefault(p => p.AccountId == PostPlayerId);

        playersMetInBattle = postPlayer.Id is not 0 && postAuthor.Id is not 0;
        playersMetInSameTeam = playersMetInBattle && postAuthor.TeamId == postPlayer.TeamId;
    }
}
