<ng-container *ngIf="profile$ | async as clan else notFound">
    <div class="row mb-5 clearfix">
        <div class="col-xl-7 order-0">
            <h1 id="clan-name" class="mb-5">
                <span [style.color]="clan.leagueColor | colorHex">[{{clan.tag}}]</span><span class="mx-3">{{clan.name}}</span>
                <sup class="text-{{totalMixedKarma$ | async | karmaColor}}">{{totalMixedKarma$ | async}}</sup>
            </h1>

            <div class="my-5">
                <hr/>
                <p class="my-3" style="white-space: pre-line;">{{clan.description}}</p>
                <hr/>
            </div>
        </div>

        <div class="col-md-6 order-md-1 order-lg-5">
            <dl class="row gy-1">
                <dt class="col-sm-4">Clan ID</dt>
                <dd class="col-sm-8">{{clan.id}}</dd>

                <dt class="col-sm-4">Founded on</dt>
                <dd class="col-sm-8">{{clan.createdAt | date:'d MMMM yyyy'}}</dd>

                <dt class="col-sm-4">Members count</dt>
                <dd class="col-sm-8">{{clan.members?.length ?? 'N/A'}}</dd>

                <dt class="col-sm-4">Statistics</dt>
                <dd class="col-sm-8"><a [href]="clan | wowsNumbersClanLink" target="_blank">View on <b>wows-numbers.com</b></a></dd>
            </dl>
        </div>

        <div *ngIf="clanCombinedMetrics$ | async as clanMetrics" class="col-lg-5 col-md-6 order-md-5 order-lg-1 float-lg-end text-center">
            <h2>Clan Metrics</h2>

            <div class="row justify-content-center my-5">
                <div class="col">
                    <minmax-metric [metric]="clanMetrics['game']" name="In-Game Karma"></minmax-metric>
                </div>

                <div class="col">
                    <minmax-metric [metric]="clanMetrics['platform']" name="Platform Karma"></minmax-metric>
                </div>
            </div>

            <div class="row justify-content-center my-5">
                <div class="col">
                    <minmax-metric [metric]="clanMetrics['performance']" name="Performance"></minmax-metric>
                </div>

                <div class="col">
                    <minmax-metric [metric]="clanMetrics['teamplay']" name="Teamplay"></minmax-metric>
                </div>

                <div class="col">
                    <minmax-metric [metric]="clanMetrics['courtesy']" name="Courtesy"></minmax-metric>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-responsive table-hover align-middle">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Account Created</th>
                <th>Joined Clan</th>
                <th>Game Karma</th>
                <th>Platform Karma</th>
                <th>Performance</th>
                <th>Teamplay</th>
                <th>Courtesy</th>
                <th>Last Battle</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let member of clan.members!.sort(sortByRankThenJoinDate)">
                <td>WIP</td>
                <td><a [routerLink]="['/player', member.id + ',' + member.username]">{{member.username}}</a></td>
                <td class="small">{{member.wgAccountCreatedAt | date:"short"}}</td>
                <td class="small">{{member.clan!.joinedClanAt | date:"short"}}</td>
                <td class="lead text-{{member.gameKarma | karmaColor}}">{{member.gameKarma}}</td>
                <td class="lead text-{{member.siteKarma | karmaColor}}">{{member.siteKarma}}</td>
                <td class="lead text-{{member.ratingPerformance | karmaColor}}">{{member.ratingPerformance}}</td>
                <td class="lead text-{{member.ratingTeamplay | karmaColor}}">{{member.ratingTeamplay}}</td>
                <td class="lead text-{{member.ratingCourtesy | karmaColor}}">{{member.ratingCourtesy}}</td>
                <td class="small">{{member.lastBattleTime | date:"short"}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #notFound>
    <h3>Clan not found.</h3>
</ng-template>