<div class="my-5 d-flex flex-row justify-content-between">
  <h1>Settings</h1>

  @if (platformBanned()) {
    <div class="row align-items-center text-danger">
      <div class="col-auto">
        <h2 class="m-0"><i class="bi-x-circle"></i></h2>
      </div>

      <div class="col">
        <h5>You have been banned from the platform.</h5>
        <p>Account settings cannot be changed.</p>
      </div>
    </div>
  }
</div>

@if (this.authService.isLoaded$ | async) {
  @if (this.authService.profileFlags$ | async; as settings) {
    <form (ngSubmit)="saveChanges()">
      <h2 class="mb-5 text-danger">Danger Zone</h2>

      <div class="row align-content-between mb-5">
        <div id="opt-out" class="col-md my-3">
          <h3 class="mb-3">Opt Out</h3>

          <p>
            Opting out of WOWS Karma publicly hides your on-site Metrics and Received posts. <br />
            In counterpart, you will no longer be able to Post on other profiles, but your existing posts will still remain.
          </p>

          <p>Please note that a WOWS Karma opt-out is independent of your Wargaming account's visibility settings.</p>

          @if (optOutOnCooldown$ | async; as optOutOnCooldown) {
            <div class="form-check form-control-lg">
              <input type="checkbox" id="optedOut" name="optedOut" [formControl]="form.controls.optedOut" class="form-check-input">
              <label class="form-check-label lead text-danger" for="optedOut">Opt Out of WOWS Karma</label>
            </div>

            @if (optOutOnCooldown.isOnCooldown) {
              <p class="text-muted fst-italic">
                Opt-Out change is currently on Cooldown. <br />
                Changing your opt-out status is disabled until <b>{{ optOutOnCooldown.cooldownEnd | date: 'medium' }}</b>.
              </p>
            }
          }
        </div>
      </div>

      <div id="auth">
        <h3>Authentication</h3>

        <div class="row align-content-between">
          <div class="col-md my-4">
            <h4 class="my-3">Personal Token</h4>

            <p>
              This token is the base of access to WOWS Karma's API system.
              You can use it in conjunction with your apps to use certain authenticated HTTP methods.
            </p>

            <p>
              A token expires after a certain period of time, currently set to <b>8 days</b>. <br />
              Your current token will expire on: <b>{{ (authService.userInfo$ | async)?.expiration | date :"medium" }}</b>.
            </p>

            <div class="d-flex flex-row gap-3 my-3 align-items-center">
              <button type="button" class="btn btn-primary" (click)="copyTokenToClipboard()">
                <i class="bi bi-clipboard me-2"></i>
                <span>Copy Token</span>
              </button>

              <p *ngIf="copiedTokenToClipboard()" class="text-success font-italic my-0">Token copied to clipboard!</p>
            </div>

            <p class="text-warning">
              Be extra careful manipulating authentication settings, as your token is the key to your account on WOWS Karma.
              Please make sure to never reveal your token to an untrusted party.
            </p>
          </div>

          <div class="col-md my-4">
            <h4 class="my-3">Reset Seed</h4>

            <p>
              Resetting your token seed will invalidate all issued tokens, and reset all logged-in devices.
              Use this if you suspect your token has been compromised, allowing you to start on a new seed.
            </p>

            <button type="button" class="btn btn-danger my-3" (click)="openResetSeedModal()">
              <i class="bi bi-arrow-repeat me-2"></i>
              <span>Reset Seed</span>
            </button>
          </div>
        </div>

        <div class="d-flex flex-row gap-5 align-items-center my-5">
          <button type="submit" class="btn btn-success px-5" [disabled]="platformBanned()">
            <i class="bi bi-check-lg me-2"></i>
            <span>Save</span>
          </button>
          <p *ngIf="changesSaved()" class="text-success my-0" role="alert">Your changes have been saved.</p>
        </div>
      </div>
    </form>
  }
} @else {
  <h3 class="text-info">Loading...</h3>
}
