<ng-container *ngIf="receivedPosts$ | async as posts else noPosts">
    <!--
    <div class="my-3" [ngSwitch]="this">
        <div *ngSwitchCase="!isAuthenticated" [ngTemplateOutlet]="notAuthenticated"></div>
        <div *ngSwitchCase="isSameUser$ | async" [ngTemplateOutlet]="selfPost"></div>
        <div *ngSwitchCase="isUserPlatformBanned$ | async" [ngTemplateOutlet]="platformBanned"></div>
        <div *ngSwitchCase="isUserOnCooldown$ | async as cooldown" [ngTemplateOutlet]="postsCooldown"></div>

        <div *ngSwitchDefault>
            <button class="btn btn-success px-4" (click)="openEditor()">New Post</button>
        </div>
    </div>
    -->

    <div class="mb-5">
        <ng-container *ngIf="isAuthenticated === true else notAuthenticated">
            <ng-container *ngIf="(isUserPlatformBanned$ | async) === false else platformBanned">
                <ng-container *ngIf="(isSameUser$ | async) === false else selfPost">
                    <ng-container *ngIf="isUserOnCooldown$ | async as cooldown else postsCooldown">
                        <button class="btn btn-success px-4" (click)="openEditor()">New Post</button>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>


    <div class="row gx-2 gy-3">
        <div class="col-lg-4 col-md-6" *ngFor="let p of posts.sort(sortByLastCreated)">
            <app-post [post]="p" [postDisplayType]="'received'"></app-post>
        </div>
    </div>
</ng-container>


<!-- TEMPLATES -->


<ng-template #loading>
    <h3 class="text-info">Loading...</h3>
</ng-template>

<ng-template #noPosts>
    <ng-container *ngIf="loaded$ | async else loading">
        <h3 *ngIf="!(loaded$ | async)" class="text-warning">No posts found.</h3>
    </ng-container>
</ng-template>

<ng-template #notAuthenticated>
    <h5 class="text-warning">
        You must first <a [routerLink]="['/login']" [queryParams]="{returnUrl: getCurrentLocation()}">login</a> before creating posts.
    </h5>
</ng-template>

<ng-template #selfPost>
    <h5 class="text-info">You cannot create a post for yourself.</h5>
</ng-template>

<ng-template #platformBanned>
    <h5 class="text-danger">You are banned from posting on WOWS Karma.</h5>
</ng-template>

<ng-template #optedOut>
    <h5 class="text-danger">You have opted out of WOWS Karma.</h5>
</ng-template>

<ng-template #postsCooldown let-cooldown>
    <h5 class="text-info">You must wait before posting again.</h5>
</ng-template>

