@if (receivedPosts$ | async; as posts) {
    <div class="d-md-flex justify-content-between">
        <div class="ms-xl-2 m-4" *ngIf="showState$ | async as state">
            <ng-container [ngTemplateOutlet]="state.template" [ngTemplateOutletContext]="state.context" />
        </div>

        <div id="post-view-settings" class="d-flex flex-row-reverse">
            <div id="page-count">
                <p class="lead mb-1">Page</p>

                @if (pageInfo$ | async; as pageInfo) {
                    <ngb-pagination [(page)]="pageInfo.currentPage" [boundaryLinks]="true" [collectionSize]="pageInfo.totalItems" size="sm"
                                    [maxSize]="5" [pageSize]="pageInfo.pageSize" [rotate]="true" (pageChange)="onPageChanged($event)"
                    />
                }
            </div>
        </div>
    </div>

    @if (posts.length > 0) {
        <div class="row gx-2 gy-3">
            @for (p of posts; track $index) {
                <div class="col-lg-4 col-md-6">
                    <app-post [post]="p" postDisplayType="received" />
                </div>
            }
        </div>
    } @else {
        <h3 class="text-warning">No posts found.</h3>
    }
} @else {
    <h3 class="text-info">Loading...</h3>
}

<ng-container *ngIf="shouldRefresh()" />

<!-- TEMPLATES -->

<ng-template #createPostButton>
  <button class="btn btn-success px-4" (click)="openEditor()">New Post</button>
</ng-template>

<ng-template #notAuthenticated>
  <h5 class="text-warning">
    You must first <a [routerLink]="['/login']" [queryParams]="{returnUrl: getCurrentLocation()}">login</a> before creating posts.
  </h5>
</ng-template>

<ng-template #selfPost>
  <h5 class="text-info">You cannot create a post for yourself.</h5>
</ng-template>

<ng-template #platformBanned>
  <h5 class="text-danger">You are banned from posting on WOWS Karma.</h5>
</ng-template>

<ng-template #optedOut>
  <h5 class="text-danger">You have opted out of WOWS Karma.</h5>
</ng-template>

<ng-template #postsCooldown let-until="until">
  <h5 class="text-info">You must wait until {{until | date:"medium"}} before posting again.</h5>
</ng-template>

