@{
	ViewData["Title"] = "Search";
}

<h1 class="mb-5">Search Player :</h1>

<form method="get" asp-action="Search">
	<div class="col-sm-4">
		<input type="text" name="id" class="form-control mr-sm-2 mb-1" />
		<input type="submit" class="btn btn-primary" name="Search" />
	</div>
</form>