@model WowsKarma.Common.Account


@{
    ViewData["Title"] = $"Profile : {Model.Username}";
}

<h1 class="mb-3">@Model.Username</h1>
<p><b>Account ID :</b> @Model.AccountId</p>
<p><b>Created On :</b> @DateTime.UnixEpoch.AddSeconds(Model.WgAccountCreatedAt).ToLongDateString()</p>
<p><b>Karma :</b> @Model.WgKarma</p>