@model PlayerProfileDTO


@{
    ViewData["Title"] = $"Profile : {Model.Username}";
}

<h1 class="mb-3">@Model.Username</h1>
<p><b>Account ID :</b> @Model.Id</p>
<p><b>Created On :</b> @Model.WgAccountCreatedAt.ToString("f")</p>
<p><b>Karma :</b> @Model.WgKarma</p>