@model SearchViewModel<PlayerListing>

@{
    ViewData["Title"] = "Search";
}

<h1>Search results : @Model.Search</h1>


<ul>
    @foreach (PlayerListing player in Model.Results)
    {
        <li><a href="/player/@player.Id,@player.Username/">@player.Username</a></li>
    }
</ul>