@model SearchViewModel<AccountListingDTO>

@{
	ViewData["Title"] = "Search";
}

<h1>Search results : @(Model?.Search ?? string.Empty)</h1>

@if (Model?.Results?.Count() is not null or 0)
{
	<ul>
		@foreach (AccountListingDTO player in Model.Results)
		{
			<li><a href="/player/@player.AccountId,@player.Username/">@player.Username</a></li>
		}
	</ul>
}
else
{
	<h3>No results found. Try another query.</h3>
}