<ng-container *ngIf="request$ | async as result else loading">
  <ng-container *ngIf="result.model as post else notFound">
    <div class="my-5">
      <div class="row justify-content-between">
        <div class="col-xl-5 col-md-6">
          <div class="mb-5">
            <h1>View Post</h1>
            <p>Post ID : <code class="ml-3">{{post.id}}</code></p>
          </div>

          <app-post [post]="post" [postDisplayType]="'neutral'"></app-post>
        </div>

        <div *ngIf="post.replay" class="col-xl-7 col-md-6">
          <!-- Display the minimap video -->
          <h2 class="mb-5">Minimap</h2>

          <video *ngIf="post.replay.minimapUri as minimapUri else minimapProcessing" class="w-100" controls autoplay muted loop preload="auto">
            <source [src]="minimapUri" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <ng-template #minimapProcessing>
            <h3 class="text-info"><i>Rendering Replay minimap...</i></h3>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="my-5" *ngIf="lastModAction$ | async as modAction">
      <div class="mb-3">
        <h4>Mod Action</h4>

        <p *ngIf="modAction.actionType === 0" class="text-danger lead">
          This post was removed by our Community Managers, and is no longer visible on the platform.
        </p>

        <p *ngIf="modAction.actionType === 1" class="text-warning lead">
          This post was Locked by our Community Managers, and can no longer be edited.
        </p>
      </div>


      <dl class="row">
        <dt class="col-sm-3 col-lg-2">Mod Action ID</dt>
        <dd class="col-sm-9 col-lg-10">{{modAction.id}}</dd>

        <dt class="col-sm-3 col-lg-2">Moderated by</dt>
        <dd class="col-sm-9 col-lg-10">{{modAction.modUsername}}</dd>

        <dt class="col-sm-3 col-lg-2">Reason</dt>
        <dd class="col-sm-9 col-lg-10" style="white-space: pre-wrap;">{{modAction.reason}}</dd>
      </dl>
    </div>

    <div *ngIf="post.replay as replay">
      <h2>Replay
        <a class="btn btn-primary btn-lg ms-5 px-4" [href]="post.replay.downloadUri">Download Replay</a>
      </h2>

      <div class="row justify-content-between my-3">
        <div class="col-lg-7 mb-5 order-lg-5">
          <h4 class="my-3">Teams Roster</h4>

          <replay-team-roster [replay]="replay" [authorId]="post.author!.id!" [playerId]="post.player!.id!">
          </replay-team-roster>
        </div>

        <div class="col-lg-5 mb-5">
          <h4 class="my-3">Chat Messages</h4>

          <replay-chat-log [replay]="replay" [authorId]="post.author!.id!" [playerId]="post.player!.id!">
          </replay-chat-log>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <h3 class="text-info">Loading...</h3>
</ng-template>

<ng-template #notFound>
  <app-not-found message="Sorry, no post was found."></app-not-found>
</ng-template>
