<footer class="footer text-muted mt-5">
	<div class="container">
		
		<div class="row justify-content-between">
			<div class="col-auto mb-3">
				<strong>WOWS Karma (@WowsKarma.Web.Utilities.CurrentRegion.ToRegionString())</strong> <br />
				Technical Preview #7 (<a href="https://github.com/SakuraIsayeki/WoWS-Karma">GitHub</a>, <a href="https://discord.gg/PrW9dtzK9K">Discord</a>)
			</div>

			<div class="col-auto mb-3">
				Developed by <a href="/player/503379282,Sakura_Isayeki">Sakura Isayeki</a> <br />
				Powered by <a href="https://nodsoft.net/">Nodsoft Systems</a>
			</div>
		</div>

	</div>
</footer>
