<footer class="footer text-muted mt-5">
	<div class="container">
		
		<div class="row justify-content-between">
			<div class="col-auto mb-3">
				<strong>WOWS Karma (@WowsKarma.Web.Utilities.CurrentRegion.ToRegionString())</strong> <br />
				Technical Preview #6 (<a href="https://github.com/DJDaemonix/WoWS-Karma">Github</a>)
			</div>

			<div class="col-auto mb-3">
				Developed by <a href="/player/503379282,Akurai_Isayeki">Akurai_Isayeki</a> <br />
				Powered by <a href="https://nodsoft.net/">Nodsoft Systems</a>
			</div>
		</div>

	</div>
</footer>
