<footer class="footer text-muted mt-5">
	<div class="container">
		<div class="row justify-content-between flex-grow-1">
			<div class="col-auto align-self-end">

				<div>
					<strong class="mr-3">WOWS Karma (@currentRegion)</strong>v@(Startup.DisplayVersion)
				</div>

				<div>
					<ul class="list-inline">
						<li class="list-inline-item"><a href="guidelines">Guidelines</a></li>
						<li class="list-inline-item"><a target="_blank" href="@(CurrentRegion.GetRegionApiDomain())swagger">API</a></li>
						<li class="list-inline-item"><a target="_blank" href="https://github.com/SakuraIsayeki/WoWS-Karma">GitHub</a></li>
						<li class="list-inline-item"><a target="_blank" href="https://discord.gg/PrW9dtzK9K">Discord</a></li>
					</ul>
				</div>
			</div>

			<div class="col-auto align-self-end mb-3">
				Developed by <a href="@DevelopedByLink">Sakura Isayeki</a> <br />
				Powered by <a target="_blank" href="https://nodsoft.net/">Nodsoft Systems</a>
			</div>
		</div>
	</div>
</footer>



@code {

	static string currentRegion;

#if DEBUG
	const string DevelopedByLink = "/player/503379282,Sakura_Isayeki";
#else
	const string DevelopedByLink = "https://wows-karma.com/player/503379282,Sakura_Isayeki";
#endif


	protected override void OnInitialized()
	{
		currentRegion ??= WowsKarma.Web.Utilities.CurrentRegion.ToRegionString();
	}
}