<footer class="footer text-muted mt-5">
	<div class="container">
		
		<div class="row justify-content-between">
			<div class="col-auto mb-3">
				<strong>WOWS Karma (@currentRegion)</strong> <br />

				Technical Preview #9 
				(<a target="_blank" href="https://github.com/SakuraIsayeki/WoWS-Karma">GitHub</a>, <a target="_blank" href="https://discord.gg/PrW9dtzK9K">Discord</a>)
			</div>

			<div class="col-auto mb-3">
				Developed by <a href="@DevelopedByLink">Sakura Isayeki</a> <br />
				Powered by <a target="_blank" href="https://nodsoft.net/">Nodsoft Systems</a>
			</div>
		</div>

	</div>
</footer>



@code {

	static string currentRegion;

#if DEBUG
	const string DevelopedByLink = "/player/503379282,Sakura_Isayeki";
#else
	const string DevelopedByLink = "https://wows-karma.com/player/503379282,Sakura_Isayeki";
#endif


	protected override void OnInitialized()
	{
		currentRegion ??= WowsKarma.Web.Utilities.CurrentRegion.ToRegionString();
	}
}