@namespace WowsKarma.Web.Shared
@inherits LayoutComponentBase

<header>
	<Navbar />
</header>
<div class="container">
	<main role="main" class="pb-3">
		@Body
	</main>
</div>
<footer class="footer text-muted">
	<div class="container">
		&copy; 2020 - WOWS Karma - <a href="https://github.com/DJDaemonix/WoWS-Karma">Github Repo</a>
	</div>
</footer>
