@namespace WowsKarma.Web.Shared
@inherits LayoutComponentBase

<header>
	<Navbar />
</header>
<div class="container" style="margin-top: 100px !important">
	<main role="main">
		@Body
	</main>
</div>
<footer class="footer text-muted">
	<div class="container">
		&copy; 2020 - WOWS Karma (@WowsKarma.Web.Utilities.CurrentRegion.ToRegionString()) - <a href="https://github.com/DJDaemonix/WoWS-Karma">Github Repo</a>
	</div>
</footer>
