@namespace WowsKarma.Web.Shared
@inherits ComponentBaseAuth
@inject NavigationManager NavigationManager

<AuthorizeView>
	<Authorized>
		<li class="navbar-text text-light">Welcome, @CurrentUser.Username.&emsp;</li>
		<li class="nav-item"><NavLink class="nav-link text-white" href="@($"player/{CurrentUser.Id},{CurrentUser.Username}")">Profile</NavLink></li>
		<li class="nav-item"><NavLink class="nav-link text-white" href="settings">Settings</NavLink></li>
		<li class="nav-item"><NavLink class="nav-link text-white" href="logout">Logout</NavLink></li>
	</Authorized>

	<NotAuthorized>
		<li class="nav-item"><NavLink class="nav-link text-white" href=@($"login?redirectUri={NavigationManager.ToBaseRelativePath(CurrentUri)}")>Login</NavLink></li>
	</NotAuthorized>
</AuthorizeView>

@code {
	[Parameter]
	public string CurrentUri { get; set; }
}