@namespace WowsKarma.Web.Shared
@inherits ComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@using System.Security.Claims;

<AuthorizeView>
	<Authorized>
		@{AccountListingDTO account = GetAccountInfoFromOidcUrl(context.User.FindFirst(ClaimTypes.NameIdentifier).Value);}

		<ul class="navbar-nav">
			<li class="navbar-text text-light">Welcome, @account.Username.&emsp;</li>
			<li class="nav-item"><NavLink class="nav-link text-white" href="@($"player/{account.Id},{account.Username}")">Profile</NavLink></li>
			<li class="nav-item"><NavLink class="nav-link text-white" href="logout">Logout</NavLink></li>
		</ul>
	</Authorized>

	<NotAuthorized>
		<ul class="navbar-nav">
			<li class="nav-item"><NavLink class="nav-link text-white" href=@($"login?redirectUri={NavigationManager.ToBaseRelativePath(CurrentUri)}")>Login</NavLink></li>
		</ul>
	</NotAuthorized>
</AuthorizeView>

@code {
	[Parameter]
	public string CurrentUri { get; set; }
}