.dropdown-menu {
	overflow-y: scroll !important;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.dropdown-menu::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}