.dropdown {
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
}

.glyphicon-bell {
	font-size: 1.5rem;
}

.notifications {
	min-width: 420px;

	a.content {
		text-decoration: none;
		background: #ccc;
	}
}

.notifications-wrapper {
	overflow: auto;
	max-height: 250px;
}

.menu-title {
	color: #ff7788;
	font-size: 1.5rem;
	display: inline-block;
}

.glyphicon-circle-arrow-right {
	margin-left: 10px;
}

.notification-heading, .notification-footer {
	padding: 2px 10px;
}

.dropdown-menu.divider {
	margin: 5px 0;
}

.item-title {
	font-size: 1.3rem;
	color: #000;
}

.notification-item {
	padding: 10px;
	margin: 5px;
	background: #ccc;
	border-radius: 4px;
}
