@inherits ComponentBaseAuth

<ul class="navbar-nav">
	<li class="nav-item dropdown">
		<button class="btn btn-link text-light dropdown-toggle" type="button" id="notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="bi bi-bell@(Notifications?.Any() is true ? "-fill" : null)"></i>

			@if (Notifications?.Count is int count and not 0)
			{
				<span class="badge bg-primary rounded-pill ms-2 me-1">@count</span>
			}
		</button>

		<div class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="notifications-dropdown">
			<div class="row no-gutters mt-2 mb-3">
				<div class="col">
					<h5 class="mx-3">Notifications</h5>
				</div>


				<div class="col-auto">
					<button class="btn btn-sm btn-primary" @onclick=ClearNotificationsAsync>Clear All</button>
				</div>
			</div>

			@if (Notifications?.Count is 0)
			{
				<h5 class="text-info">No new Notifications.</h5>
			}
			else
			{
				<div class="d-flex flex-column">
					<Virtualize TItem=INotification Items=Notifications Context=notification>
						<Notification Model=notification OnDismissClicked=AcknowledgeNotificationAsync />
					</Virtualize>
				</div>
			}
		</div>
	</li>
</ul>
