@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome !</h1>
    <h5>This website is under heavy Development. All aspects are subject to changes.</h5>
    <h5> You can follow our development on our <a href="https://github.com/DJDaemonix/WoWS-Karma">GitHub Repo</a> and our <a href="https://discord.gg/PrW9dtzK9K">Discord Server</a>.</h5>
</div>
