@page "/Player"
@inject WowsKarma.Web.Services.AccountService PlayerService

<h1 class="mb-5">Search Players :</h1>

<EditForm Model="@CurrentSearch" OnValidSubmit="@OnValidSubmit">
	<div class="input-group input-group-lg col-sm-5">
		<InputText @bind-Value="@CurrentSearch.Search" class="form-control mr-sm-2 mb-1" />
		<input type="submit" class="btn btn-primary" />
	</div>
</EditForm>



@code {

	private IEnumerable<AccountListingDTO> accountsResults;

	[Parameter]
	public SearchModel CurrentSearch { get; set; }
	[Parameter]
	public EventCallback OnValidSubmit { get; set; }

	public record SearchModel
	{
		[MinLength(3)]
		public string Search { get; set; }
	}

	protected override async Task OnInitializedAsync()
	{
		
	}
}
