@inherits ComponentBaseAuth

@page "/posts"
@inject PostService PostService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration 
@implements IAsyncDisposable

<div class="row justify-content-between mb-5">
	<div class="col-auto">
		<h1>Latest Posts</h1>
	</div>

	<div class="col-auto">
		<div>
			<h3>Updates :</h3>

			@if (IsConnected)
			{
				<p class="lead text-success">Real-Time</p>
			}
			else
			{
				<p class="lead text-info">Press F5 to update</p>
			}
		</div>

		<div class="btn-group mr-2" role="group" aria-label="Select count">
			<button @onclick=@(() => RefreshListAsync(10)) type="button" class="btn btn-secondary">10</button>
			<button @onclick=@(() => RefreshListAsync(25)) type="button" class="btn btn-secondary">25</button>
			<button @onclick=@(() => RefreshListAsync(50)) type="button" class="btn btn-secondary">50</button>
			<button @onclick=@(() => RefreshListAsync(100)) type="button" class="btn btn-secondary">100</button>
		</div>
	</div>
</div>

<div>
	@if (Posts is null)
	{
		<h3 class="text-info">Loading Posts...</h3>
	}
	else
	{
		@if (Posts.Count() is 0)
		{
			<h4 class="text-warning mb-5">No Posts found.</h4>
		}
		else
		{
			<div class="row">
				@foreach (PlayerPostDTO post in Posts)
				{
					<Post PlayerPost=post DisplayType=Post.PostDisplayType.Neutral />
				}
			</div>
		}
	}
</div>



@code {
	public LinkedList<PlayerPostDTO> Posts { get; set; }

	public bool Loaded { get; private set; }

	private HubConnection hubConnection;

	protected override async Task OnInitializedAsync()
	{
		Loaded = false;

		hubConnection = new HubConnectionBuilder()
			.WithAutomaticReconnect()
			.WithUrl(Configuration[$"Api:{CurrentRegion}:PostHub"])
			.Build();

		SetupEvents();
		await hubConnection.StartAsync();

		await hubConnection.SendAsync("GetLatestPosts", 10);

		Loaded = true;
	}

	public async Task RefreshListAsync(int count)
	{
		Loaded = false;
		await hubConnection.SendAsync("GetLatestPosts", count);
		Loaded = true;
	}

	public bool IsConnected => hubConnection.State is HubConnectionState.Connected;

	public async ValueTask DisposeAsync()
	{
		await hubConnection.DisposeAsync();
	}

	public void SetupEvents()
	{
		hubConnection.On<IEnumerable<PlayerPostDTO>>("GetLatestPosts", (posts) =>
		{
			Posts = new(posts);
			StateHasChanged();
		});

		hubConnection.On<PlayerPostDTO>("NewPost", (post) =>
		{
			Posts.AddFirst(post);
			StateHasChanged();
		});

		hubConnection.On<PlayerPostDTO>("EditedPost", (edited) =>
		{
			if (Posts.FirstOrDefault(p => p.Id == edited.Id) is PlayerPostDTO current)
			{
				Posts.Find(current).ValueRef = current with
				{
					Title = edited.Title,
					Content = edited.Content,
					Flairs = edited.Flairs,
					UpdatedAt = edited.UpdatedAt
				};

				StateHasChanged();
			}
		});

		hubConnection.On<Guid>("DeletedPost", (deletedId) =>
		{
			if (Posts.FirstOrDefault(p => p.Id == deletedId) is PlayerPostDTO current)
			{
				Posts.Remove(current);
				StateHasChanged();
			}
		});
	}
}
