@page "/posts/view/{Id:guid}"
@inherits ComponentBaseAuth

@using WowsKarma.Web.Pages.Replays

@inject PostService PostService
@inject ModService ModService
@inject NavigationManager NavigationManager

@if (!Loaded)
{
	<h3 class="text-info">Loading...</h3>
}
else if (post is null)
{
	<h3 class="text-warning">Post not found.</h3>
}
else
{
	<h1>View Post</h1>
	<p class="lead">Post ID : <span class="ml-3 text-monospace">@Id</span></p>


	<div class="my-5">
		<div class="row">
			<div class="col-lg-4">
				<Post Editable PlayerPost=post DisplayType=Post.PostDisplayType.Neutral CurrentUserId=CurrentUser.Id
					OnEditClick=EditorModalInit
					OnDeleteClick=DeleteModalInit
				/>
			</div>
		</div>
	</div>

	@if (post.Replay is not null)
	{
		<div class="my-5">
			<h2>
				Replay
				<a class="btn btn-primary btn-lg ms-5 px-4" href="@post.Replay.DownloadUri">Download Replay</a>
			</h2>

			<div class="row justify-content-between my-3">
				<div class="col-lg-7 mb-5 order-lg-5">
					<h4 class="my-3">Teams Roster</h4>
					
					<CircuitBreakerSection @ref="_replayRosterOuterBreaker" DisplayTripped>
						<ChildContent>
							<ReplayPlayersRoster ShowPlayersRelation Players=post.Replay.Players PostAuthorId=post.AuthorId PostPlayerId=post.PlayerId />
						</ChildContent>
						
						<ErrorContent>
							<h5 class="text-danger">An error occured while displaying the teams roster.</h5>
						</ErrorContent>
					</CircuitBreakerSection>
				</div>

                <div class="col-lg-5 mb-5">
                    <h4 class="my-3">Chat Messages</h4>

	                <CircuitBreakerSection @ref="_replayChatOuterBreaker" DisplayTripped>
		                <ChildContent>
			                @if (post.Replay.ChatMessages?.Any() is true)
			                {
				                <ReplayChat ShowPlayersRelation Messages=post.Replay.ChatMessages PostAuthorId=post.AuthorId PostPlayerId=post.PlayerId />
			                }
			                else
			                {
				                <h5 class="text-info">No Chat messages were sent during this battle.</h5>
			                }
		                </ChildContent>
		                
		                <ErrorContent>
			                <h5 class="text-danger">An error occured while displaying the chat messages.</h5>
		                </ErrorContent>
	                </CircuitBreakerSection>
                </div>
			</div>
		</div>
	}

	@if (post.ModLocked)
	{
		<div class="mb-5">
			<h4>Mod Action</h4>
			<p class="text-warning lead">This post was Locked by our Community Managers, and publicly removed from the platform.</p>

			<div class="col-auto">
				<table class="table table-borderless">
					<thead />

					<tbody>
						<AuthorizeView>
							<Authorized>
								<tr><th>Mod Action ID</th><td>@lastModAction?.Id</td></tr>
							</Authorized>
						</AuthorizeView>

						<tr><th>Removed by</th><td>@lastModAction?.ModUsername</td></tr>
						<tr><th>Reason</th><td style="white-space: pre-wrap;">@lastModAction?.Reason</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	}


	/*
	 * Modals
	 */
	@if (showEditorModal)
	{
		<EditorModal PostModel=post OnPostSubmited=EditorModalSubmit OnCancel=EditorModalCancel />
	}
	else if (showDeleteModal)
	{
		<DeleteConfirm OnConfirm=DeleteModalSubmitAsync OnCancel=DeleteModalCancel />
	}
}


@code {
	[Parameter] public Guid Id { get; set; }

	public bool Loaded { get; private set; }

	private PlayerPostDTO post;
	private PostModActionDTO lastModAction;

	private bool showEditorModal, showDeleteModal;

	private CircuitBreakerSection _replayRosterOuterBreaker, _replayChatOuterBreaker;

	protected override async Task OnParametersSetAsync()
	{
		Loaded = false;
		await base.OnParametersSetAsync();

		_replayChatOuterBreaker = new();
		_replayRosterOuterBreaker = new();
		
		post = await PostService.FetchPostAsync(Id);

		if (post is not null && post.ModLocked)
		{
			lastModAction = (await ModService.GetPostModActionsAsync((Guid)post.Id)).LastOrDefault();
		}

		Loaded = true;
	}

	private void EditorModalInit() => showEditorModal = true;
	private void EditorModalCancel() => showEditorModal = false;

	private async Task EditorModalSubmit()
	{
		showEditorModal = false;
		lastModAction = (await ModService.GetPostModActionsAsync((Guid)post.Id))?.LastOrDefault();
	}

	private void DeleteModalInit() => showDeleteModal = true;
	private void DeleteModalCancel() => showDeleteModal = false;

	private async Task DeleteModalSubmitAsync()
	{
		showDeleteModal = false;
		await PostService.DeletePostAsync(Id);
		NavigationManager.NavigateTo("/");
	}
}
