<div class="row justify-content-around align-items-center">
  <div class="col-lg-4 order-3 order-lg-1">
    <img src="assets/media/torpedo-cat.webp"
         class="my-5 my-lg-1 mx-lg-5 img-fluid rounded h-50"
         alt="Torpedo cat has been launched."
         title="Torpedo cat has been launched.">
  </div>

  <div class="col-lg-8 text-center order-1 order-lg-3">
    <h1 class="display-1">401</h1>
    <h3 class="text-warning">Access Unauthorized. Please <a routerLink="/login">login</a> to view this page.</h3>
  </div>
</div>
