<ul class="navbar-nav flex-grow-0 me-xl-3">
  @if (authService.userInfo$ | async; as user) {
    <li class="navbar-text text-white me-3">Welcome, {{user.username}}.</li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/player', user.id +','+ user.username]" routerLinkActive="active">Profile</a>
    </li>

    <li class="nav-item"><a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a></li>
  } @else {
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/login" [queryParams]="{redirectUri: (currentRelativePath$ | async)}" routerLinkActive="active">Login</a>
    </li>
  }
</ul>
