@page "/"
@namespace WowsKarma.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
	<title>WOWS Karma</title>
	<base href="~/" />

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="WOWS Karma" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://wows-karma.com/" />
	<meta property="og:image" content="http://wows-karma.com/assets/media/logo.webp" />
	<meta property="og:description" content="WOWS Karma - The persistent and comprehensive Karma system for World of Warships" />
	<meta name="theme-color" content="#222222">

	<link rel="stylesheet" href="lib/bootswatch/darkly/bootstrap.min.css" id="dark-theme" />
	<link rel="stylesheet" href="lib/bootswatch/flatly/bootstrap.min.css" id="light-theme" disabled />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
	<link href="css/site.css" rel="stylesheet" />
	<link href="WowsKarma.Web.styles.css" rel="stylesheet">
</head>

<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />

	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			An error has occurred. This application may no longer respond until reloaded.
		</environment>

		<environment include="Development">
			An unhandled exception has occurred. See browser dev tools for details.
		</environment>

		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	<script src="_framework/blazor.server.js"></script>
	<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>navigator.serviceWorker.register('service-worker.js');</script>
	<script src="js/site.js"></script>
</body>
</html>
