@page "/guidelines"

<AuthorizeView Roles=@ApiRoles.CM>
	<div class="alert alert-primary lead text-center py-3">
		<NavLink href="/mod-guidelines">View Community Manager Guidelines</NavLink>
	</div>
</AuthorizeView>

<FileContent ContentFilePath="assets/guidelines.html" />