@page "/"

<div class="text-center lead m-5">
	<h1 class="display-4">Welcome !</h1>
	<p>
		This website is under heavy Development. Most aspects are still subject to future changes. <br />
		You can follow our development on our <a href="https://github.com/SakuraIsayeki/WoWS-Karma">GitHub Repo</a> and our <a href="https://discord.gg/PrW9dtzK9K">Discord Server</a>.
		We would love to hear your feedback !
	</p>
</div>

<div class="text-center">
	<p class="lead">Start by <NavLink href="Player">Searching for Players</NavLink>, clanmates or friends, and send them some posts.</p>
</div>
