@if ((modActions() ?? (modActions$ | async)); as modActions) {
  <!-- Modal Header -->
  <div class="modal-header d-flex flex-row gap-3 align-items-center">
    <h4 class="modal-title">Mod-Actions</h4>
    <div class="text-muted"><span class="me-2">Player ID: </span><code>{{profileId()}}</code></div>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="v-stack gap-1">
      @for (modAction of modActions; track $index) {
        <div class="card text-body">
          <div class="card-body d-flex flex-lg-row gap-3 bg-body justify-content-between">
            <table class="table table-borderless table-md flex-grow-1">
              <tbody>
                <tr>
                  <th>Mod-Action ID</th>
                  <td><code>{{ modAction.id }}</code></td>
                </tr>

                <tr>
                  <th>Post ID</th>
                  <td>
                    <a [routerLink]="['/posts', modAction.postId]"><code>{{ modAction.postId }}</code></a>
                  </td>
                </tr>

                <tr>
                  <th>Reason</th>
                  <td style="white-space: pre-wrap;">{{ modAction.reason }}</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-borderless table-md" style="width: 70% !important;">
              <tbody>
                <tr>
                  <th>Moderated by</th>
                  <td>
                    <player-namelink [player]="{id: modAction.modId!, username: modAction.modUsername!}" />
                  </td>
                </tr>

                <tr>
                  <th>Mod-Action Type</th>

                  <td>
                    <span *ngIf="modAction.actionType | modActionTypeDisplay as modActionTypeDisplay" [class]="modActionTypeDisplay.color">
                      {{ modActionTypeDisplay.text }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <p class="lead mx-3">
      <span class="me-5">Total Mod-Actions:</span>

      <span class="text-warning mx-2"><strong>{{ countUpdated(modActions) }}</strong> Updates</span>
      <span class="text-danger mx-2"><strong>{{ countDeleted(modActions) }}</strong> Deletions</span>
    </p>
  </div>
}
