.bg-body-menu {
    background-color: #1a1a1a !important;
}

.bg-menu-acrylic {
    background-color: rgba(26, 26, 26, 0.6);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: 0;
}