<div class="col-md-6">
    <h1 class="mb-3">Search Clans</h1>

    <form [formGroup]="search">
        <div class="input-group">
            <input id="clanname" type="text" class="form-control" [formControl]="search.controls.clanName" placeholder="Clan tag or name" required
                   minlength="3"/>
        </div>
    </form>
</div>

<div class="mx-3 my-5">
    <h4 class="text-info my-5" *ngIf="loading$ | async">Searching...</h4>

    <ng-container *ngIf="result$ | async as result">
        <h4 class="text-success mb-3" *ngIf="result.length > 0 else noResults">Found {{result.length}} Clan(s) :</h4>

        <ng-template #noResults>
            <h4 class="text-warning my-5">No results found</h4>
        </ng-template>

        <ul>
            <li *ngFor="let clan of result">
                <a [routerLink]="['/clan', clan.id + ',' + clan.tag + '-' + clan.name]">
                    <span [style.color]="clan.leagueColor | colorHex">[{{clan.tag}}]</span> {{clan.name}}</a>
            </li>
        </ul>
    </ng-container>
</div>
