@if (metric(); as m) {
    <p class="h2 my-3 metrics-display">
        <span ngbTooltip="Total" title="Total" class="text-{{m.total | karmaColor}}">{{m.total}}</span>

        <span class="sup-sub">
            <sup ngbTooltip="Most" title="Total" class="text-{{m.max | karmaColor}}">{{m.max}}</sup>
            <sub ngbTooltip="Least" title="Total" class="text-{{m.min | karmaColor}}">{{m.min}}</sub>
        </span>
    </p>

    <label class="h4">{{name()}}</label>
} @else {
    <div class="alert alert-warning">
        <p class="h2 my-3 text-danger">N/A</p>
        <label class="h4">{{name()}}</label>
    </div>
}