/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a {
	/* Provide sufficient contrast against white background */
	color: #0366d6;

	.navbar-brand {
		white-space: normal;
		text-align: center;
		word-break: break-all;
	}
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills {
	.nav-link.active, .nav-pills .show > .nav-link {
		color: #fff;
		background-color: #1b6ec2;
		border-color: #1861ac;
	}

	cursor: pointer;
}

html {
	font-size: 14px;
	position: relative;
	min-height: 100%;

	@media (min-width: 768px) {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
	margin-bottom: 150px
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	min-height: 60px; /* Vertically center the text there */
}


/* Blazor-specific adjustments
-------------------------------------------------- */

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none; 
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
	color: firebrick;

	.dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}
}