<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark-acrylic box-shadow mb-5 px-3">
  <div class="container-fluid ps-0">
    <div class="d-flex flex-row align-items-center mx-3">
      <a href="/" class='navbar-brand'>WOWS Karma</a>

      @switch (environmentName) {
        @case ("development") {
          <div><strong class="badge rounded-pill text-bg-warning text-uppercase">Dev</strong></div>
        }

        @case ("preview") {
          <div><strong class="badge rounded-pill text-bg-info text-uppercase">Preview</strong></div>
        }
      }
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavContent"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavContent" class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/player" routerLinkActive="active">Players</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/clan" routerLinkActive="active">Clans</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a></li>
      </ul>

      <ul class="navbar-nav flex-grow 0">
        <navbar-auth />

        <!-- TODO: Implement theming
        <li class="nav-item ml-3 msl-5">
          <button class="btn btn-link text-light">
            <i class="bi bi-moon" id="icon-theme-selector"></i>
          </button>
        </li>
        -->

        @if (authService.userInfo$ | async) {
          <li class="nav-item ml-3 msl-5">
            <app-notifications-button />
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
