<nav
  class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark-acrylic box-shadow mb-5 px-3">
  <div class="container-fluid ps-0">
    <div class="align-content-center mx-3">
      <a href="/" class='navbar-brand'>WOWS Karma</a>
    </div>

    <div id="navbarNavContent" class="navbar-collapse collapse">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/player">Players</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/clan">Clans</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/posts">Posts</a></li>
      </ul>

      <ul class="navbar-nav flex-grow 0">
        <navbar-auth></navbar-auth>

        <!-- TODO: Implement theming
        <li class="nav-item ml-3 msl-5">
          <button class="btn btn-link text-light">
            <i class="bi bi-moon" id="icon-theme-selector"></i>
          </button>
        </li>
        -->
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
