

	<div class="modal fade show" id="deleteConfirm" style="display:block" aria-modal="true" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title text-danger">Confirm Seed Token Renewal</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<p class="text-body">
						Are you sure you want to renew tour seed token ? <br />
						All devices will be logged-out of your account, and any dependent applications may break until you provide a new token.
					</p>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick=OnCancel>Cancel</button>
					<button type="submit" class="btn btn-danger" @onclick=OnConfirm>Renew</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-backdrop fade show"></div>

@code {
	[Parameter]
	public EventCallback OnConfirm { get; set; }
	[Parameter]
	public EventCallback OnCancel { get; set; }
}