name: .NET Build

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.x'
    #    include-prerelease: true
    - name: Restore dependencies
      run: dotnet restore *.sln
    - name: Build
      run: dotnet build --no-restore *.sln
    - name: Test
      run: dotnet test --no-build --verbosity normal *.sln
