@if (sentPosts$ | async; as posts) {
    <div id="post-view-settings" class="d-flex flex-row-reverse">
        <div id="page-count">
            <p class="lead mb-1">Page</p>
            
            @if (pageInfo$ | async; as pageInfo) {
                <ngb-pagination [(page)]="pageInfo.currentPage" [boundaryLinks]="true" [collectionSize]="pageInfo.totalItems" size="sm"
                                [maxSize]="5" [pageSize]="pageInfo.pageSize" [rotate]="true" (pageChange)="onPageChanged($event)"
                />
            }
        </div>
    </div>

    @if (posts.length > 0) {
        <div class="row gx-2 gy-3">
            @for (p of posts; track $index) {
                <div class="col-lg-4 col-md-6">
                    <app-post [post]="p" postDisplayType="sent" />
                </div>
            }
        </div>
    } @else {
        <h3 class="text-warning">No posts found.</h3>
    }
} @else {
    <h3 class="text-info">Loading...</h3>
}

<ng-container *ngIf="shouldRefresh()" />