<ng-container *ngIf="sentPosts$ | async as posts else loading">
  <div id="post-view-settings" class="d-flex flex-row-reverse">
    <div id="page-count">
      <p class="lead mb-1">Page</p>

      <ng-container *ngIf="pageInfo$ | async as pageInfo">
        <ngb-pagination [(page)]="pageInfo.currentPage" [boundaryLinks]="true" [collectionSize]="pageInfo.totalItems" size="sm"
                        [maxSize]="5" [pageSize]="pageInfo.pageSize" [rotate]="true" (pageChange)="onPageChanged($event)"
        >
        </ngb-pagination>
      </ng-container>
    </div>
  </div>

  <div class="row gx-2 gy-3" *ngIf="posts.length > 0 else noPosts">
    <div class="col-lg-4 col-md-6" *ngFor="let p of posts">
      <app-post [post]="p" postDisplayType="sent"></app-post>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="shouldRefresh$">

</ng-container>

<ng-template #loading>
  <h3 class="text-info">Loading...</h3>
</ng-template>

<ng-template #noPosts>
  <h3 class="text-warning">No posts found.</h3>
</ng-template>
